<style type="text/css">
  .amulets-abeyance-btn-row{padding:0.5rem; display:flex; flex-wrap:wrap;
  justify-content: space-around;} .damage-type-row{display:flex;
  justify-content:center; align-items:center; padding-bottom:0.5rem;}
</style>
<div class="amulets-abeyance-dialog" dmg="{{damageTypes}}">
  <div class="amulets-abeyance-flavor">
    <h3>{{localize "pf2e-thaum.vuln.amuletsAbeyance.name"}}
      &#40;{{localize "pf2e-thaum-vuln.amuletsAbeyance.resistanceValueLabel"}}
      {{abeyanceResistanceValue}}
      {{localize "pf2e-thaum.vuln.amuletsAbeyance.allTriggeringDamage"}}
      {{#each damageTypes}}&#91;{{this}}&#93;{{/each}}&#41;</h3>
    <p>{{localize "pf2e-thaum.vuln.amuletsAbeyance.description"}}</p>
    {{#if amuletRank.adept}}
      <h3>{{localize
          "pf2e-thaum-vuln.dialog.amuletsAbeyance.adeptBenefitLabel"
        }}
        &#40;{{localize
          "pf2e-thaum-vuln.dialog.amuletsAbeyance.lingeringResistanceValue"
        }}
        {{adeptResistanceValue}}&#41;</h3>
      <p>{{amuletBenefits.adept}}</p>
    {{/if}}
    {{#if amuletRank.paragon}}
      <h3>{{localize
          "pf2e-thaum-vuln.dialog.amuletsAbeyance.paragonBenefitLabel"
        }}</h3>
      <p>{{amuletBenefits.paragon}}</p>
    {{/if}}
    {{#unless amuletRank.paragon}}
      <p><strong>{{localize
            "pf2e-thaum-vuln.dialog.amuletsAbeyance.selectAllies"
          }}</strong></p>
    {{/unless}}
  </div>
  <div class="amulets-abeyance-btn-row">
    {{#each allies}}
      <div class="ally-entry">
        <button
          type="button"
          class="character-button"
          style="background: url({{document.texture.src}});background-size:contain; width:10rem; height:10rem;"
          id="{{document.uuid}}"
        ></button>
        <p style="text-align: center">{{name}}</p>
      </div>
    {{/each}}
  </div>
  {{#if amuletRank.paragon}}
    <div class="damage-type-row" style="flex-direction:column">
      {{#each allies}}
        <div class="damage-selection" style="margin-bottom:0.2rem">
          {{#removeFromArray @root.damageType "untyped"}}
            <label for="damage-type-{{document.uuid}}">{{localize
                "pf2e-thaum-vuln.dialog.amuletsAbeyance.selectDamageType"
              }}
              {{name}}:
            </label>
            <select
              name="damage-type-{{document.uuid}}"
              id="damage-type-{{document.uuid}}"
            >
              {{#each @root.damageTypes}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          {{else}}
            <span>{{localize
                "pf2e-thaum-vuln.dialog.amuletsAbeyance.noResistances"
              }}</span>
          {{/removeFromArray}}
        </div>
      {{/each}}
    </div>
  {{else if amuletRank.adept}}
    <div class="damage-type-row">
      {{#removeFromArray @root.damageTypes "untyped"}}
        <label for="damage-type-adept">{{localize
            "pf2e-thaum-vuln.dialog.amuletsAbeyance.selectDamageType"
          }}&#32;
        </label>
        <select name="damage-type-adept" id="damage-type-adept">
          {{#each @root.damageTypes}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      {{else}}
        <span>{{localize
            "pf2e-thaum-vuln.dialog.amuletsAbeyance.noResistances"
          }}</span>
      {{/removeFromArray}}
    </div>
  {{/if}}
</div>